@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";

@theme {
  /* Primary Colors */
  --color-primary-50: #f1fcfa;
  --color-primary-100: #cff8ef;
  --color-primary-200: #9ff0e1;
  --color-primary-300: #67e1cf;
  --color-primary-400: #32b9a9;
  --color-primary-500: #1fad9f;
  --color-primary-600: #168b82;
  --color-primary-700: #166f69;
  --color-primary-800: #165955;
  --color-primary-900: #174a47;
  --color-primary-950: #072c2b;

  /* Neutral Colors */
  --color-neutral-50: #f6f6f6;
  --color-neutral-100: #e7e7e7;
  --color-neutral-200: #d1d1d1;
  --color-neutral-300: #b0b0b0;
  --color-neutral-400: #888888;
  --color-neutral-500: #6d6d6d;
  --color-neutral-600: #5d5d5d;
  --color-neutral-700: #4f4f4f;
  --color-neutral-800: #454545;
  --color-neutral-900: #3d3d3d;
  --color-neutral-950: #000000;

 --font-family-sans: 'Poppins', sans-serif;
  --font-family-serif: 'Merriweather', serif;
}

.font-heading{
  font-family: 'Merriweather', serif;
}
.bg-dark{
  background-color: #212529;
}
.text-light{
  color: #F0F3FB;
} 
.text-dark{
  color: #212529;
}

.bg-light{
  background-color: #F0F3FB;
}

@layer base {
  body {
    @apply font-sans; /* Applies Poppins to body */
  }
 
}

::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}
::-webkit-scrollbar
{
	width: 6px;
	background-color: #F5F5F5;
}

.hide-scrollbar::-webkit-scrollbar
{
	display: none;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
	background-color: #32b9a9;
}


@layer tailwind-base, primereact, tailwind-utilities;

/* IMPORTANT: In "styled" mode you must add the PrimeReact Theme here. Do NOT include in "unstyled" mode */
@import 'primereact/resources/themes/lara-light-blue/theme.css' layer(primereact);

@layer tailwind-base {
  @tailwind base;
}

@layer tailwind-utilities { 
  @tailwind utilities;
}


/* [{
	"resource": "/home/sharath/Documents/hms/frontend/hms/src/App.css",
	"owner": "tailwindcss-intellisense",
	"code": "invalidTailwindDirective",
	"severity": 8,
	"message": "'@tailwind base' is no longer available in v4. Use '@import \"tailwindcss/preflight\"' instead.",
	"startLineNumber": 88,
	"startColumn": 13,
	"endLineNumber": 88,
	"endColumn": 17,
	"origin": "extHost1"
}] */